{% extends 'base.html' %}
{% block main_content %}

<!-- Start Row -->
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-title">
          Map Types
        </div>
            <div class="panel-body">
              <div id="gmaps-types" class="gmaps"></div>
            </div>
      </div>
    </div>

{#    <div class="col-md-6">#}
{#      <div class="panel panel-default">#}
{#        <div class="panel-title">#}
{#          Context menu (right click on map)#}
{#        </div>#}
{#            <div class="panel-body">#}
{#                <div id="gmaps-menu" class="gmaps"></div>#}
{#            </div>#}
{#      </div>#}
{#    </div>#}

  </div>
<!-- End Row -->

{% endblock %}